html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

@media screen and (max-width: 480px) {
  header {
    display: flex;
    flex-direction: column;
  }
}

header h1,
header button {
  margin: 2rem;
}

header button {
  padding: 1rem;
  font-size: large;
}

main {
  display: flex;
  justify-content: center;
}

.add-book {
  margin: 2rem;
  padding: 40px 20px;
  font-size: xx-large;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.2rem;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  background-color: aqua;
  padding: 2rem;
  border-radius: 10px;
  gap: 3px;
}

form button {
  padding: 0.5rem 1rem;
  align-self: center;
}

.add-book-modal {
  display: none;
  justify-content: center;
  width: 400px;
  margin: 2rem;
}

.close {
  align-self: flex-end;
  cursor: default;
}

/* table */

table {
  table-layout: fixed;
  width: 90%;
  border-collapse: collapse;
  border: 3px solid purple;
  margin: 0 auto;
}
