html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

/* header */

header h1 {
  color: rebeccapurple;
  margin: 4px;
}

header button {
  background-color: purple;
  /* Green */
  border: none;
  border-radius: 4px;
  color: white;
  padding: 6px 15px;
  margin: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

/* main */

main button {
  background-color: purple;
  /* Green */
  border: none;
  border-radius: 4px;
  color: white;
  padding: 8px 15px;
  margin: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

main .add-book-modal {
  display: none;
  background-color: teal;
  width: 370px;
  position: fixed;
  padding: 2rem;
  border-radius: 6px;
  color: whitesmoke;
}

main .close {
  font-size: xx-large;
  cursor: pointer;
  color: aliceblue;
}

.add-book-modal .form-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

main form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

main .form-div {
  display: flex;
  flex-direction: column;
}

form input {
  padding: 4px
}

/* footer */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: aqua;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
}

footer p {
  margin: 0 10px;
}

/* Table */

table {
  table-layout: fixed;
  width: 100%;
  min-width: 700px;
  border-collapse: collapse;
  border: 3px solid purple;
  color: whitesmoke;
}

table caption {
  color: purple;
  font-size: xx-large;
  font-weight: 600;
}

.data {
  overflow-x: auto;
  margin: 0 8px 4rem;
}

.removeBtn {
  padding: 0 6px;
}

thead {
  background-color: gray;
}

thead th:nth-child(1) {
  width: 10%;
}

thead th:nth-child(2) {
  width: 30%;
}

thead th:nth-child(3) {
  width: 30%;
}

thead th:nth-child(4) {
  width: 15%;
  min-width: min-content;
}

thead th:nth-child(5) {
  width: 15%;
  min-width: min-content;
}

th,
td {
  padding: 10px;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #e495e4;
}

table {
  background-color: #ff33cc;
}