html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

@media screen and (max-width: 480px) {
  header {
    display: flex;
    flex-direction: column;
  }
}

header h1,
header button {
  margin: 2rem;
}

header button {
  padding: 1rem;
  font-size: large;
}

main {
  display: flex;
  justify-content: center;
}

.add-book {
  margin: 2rem;
  padding: 40px 20px;
  font-size: xx-large;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.2rem;
  background-color: aqua;
  margin-top: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  background-color: aqua;
  padding: 2rem;
  border-radius: 10px;
  gap: 3px;
}

form button {
  padding: 0.5rem 1rem;
  align-self: center;
}

.add-book-modal {
  display: none;
  justify-content: center;
  width: 400px;
  margin: 2rem;
}

.close {
  align-self: flex-end;
  cursor: default;
  font-size: 32px;
}

/* table */

table {
  table-layout: fixed;
  width: 90%;
  border-collapse: collapse;
  border: 3px solid purple;
  margin: 0 auto;
}


thead th:nth-child(1) {
  width: 5%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 20%;
}

thead th:nth-child(4) {
  width: 15%;
}

thead th:nth-child(5) {
  width: 15%;
}

th, td {
  padding: 20px;
}


thead th {
  font-family: 'Rock Salt', cursive;
  font-size: xx-large;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

caption {
  font-size: 2rem;
}

tbody td {
  text-align: center;
}